footer {
	padding: 40px;
}
.footer_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer_left {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
}
.footer_left svg {
	width: 24px;
}
.footer_social {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}
.footer_social li {
	list-style: none;
}
.footer_social li a {
	color: #000;
	font-size: 13px;
}
@media (width < 810px) {
	footer {
		padding-bottom: 6em;
		padding-left: 0;
		padding-right: 0;
	}
	.footer_content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 0.5em;
	}
	.footer_left {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}
